[dir='rtl'] body {
    font-family: 'Cairo', sans-serif;
}

[dir='rtl'] .navbar ul#user-info {
    padding-right: 1rem;
}

form #submit {
    font-family: 'Cairo', sans-serif;
}


[dir='rtl'] form :is(input, textarea, button, select) 
{
    font-family: 'Cairo', sans-serif;
}

[dir='rtl'] nav ul#user-info .shopping-cart .badge {
    position: absolute;
    top: -15px;
    right: -15px;
}

[dir='rtl'] ul #logout {
    margin-left: -5px;
    margin-right: 10px;
}

[dir="rtl"] :is(
    .product-item-actions .add-to-cart,
    .product-item-info .actions .delete-product,
    .product-item-info .actions .edit-product,
    #size-filter,
    .product-details button,
    .product-item-info #editBtn
    ) {
        font-family: 'Cairo', sans-serif;
    }


